@import url('https://fonts.googleapis.com/css?family=Bree+Serif|Roboto:300,400&display=swap');

* {
	margin: 0;
	padding: 0;
	outline: none;
	text-decoration: none;
	border: none;
  }

html {
	height: 100%;
}

body {
	height: 100%;
	font-family: 'Bree Serif', serif;
}

#root {
	height: 100%;
}
