@import url('https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap');
@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway:900&display=swap');

* {
	margin: 0;
	padding: 0;
	outline: none;
	text-decoration: none;
	border: none;
  }

html {
	height: 100%;
}

body {
	height: 100%;
	font-family: 'Bree Serif', serif;
}

#root {
	height: 100%;
}
